<h1>Blogs CMS</h1>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/blogs/1">Blog Post</a></li>
    <li><a href="/blogs/new">Create Blog</a></li>
    <li><a href="/blogs/edit/1">Edit Blog</a></li>
  </ul>
</nav>

{{{body}}}